.part2 svg
  overflow visible
  margin 10px 10px 0px 10px

.segment
  width 100%
  height auto

.connections
  display inline-block

.node circle
  fill $darkred

.node text
  font-size 10px
  font-family $atlas

.link
  fill none
  stroke $brown
  stroke-width 1px

.part2 h4
  font-weight 700
  text-transform uppercase
  font-size 12px
  font-family $atlas
  text-align center
  width 100%

.part2-label
  text-anchor middle
  font-weight 700
  text-transform uppercase
  font-size 12px
  fill $brown
  font-family $atlas

.part2-bold
  color $lightred !important

select
  margin 0px 10px 0px 10px

.part2 p
  font-weight 700
  font-family $atlas
  font-size 12px
  margin 0px 0px 0px 10px

.nb_1
  fill $darkyellow

.nb_2
  fill $lightred

.nb_3
  fill $darkred

.tip_sub
  font-weight 300
