body
  background-color #EDE6DE
  color #584835
  a
    color $darkred

#mapid
  width 100%
  height 600px

.popup_img
  width 100%
  height auto

.prose-text
  max-width 40rem
  margin 0 auto
  text-align left
  line-height 1.7
  color #2b1d0e
  @media screen and (max-width: 800px)
    padding 0px 15px
  p
    color #2b1d0e
    font-size 1em
  h3
    color #2b1d0e
    font-weight 700
    font-size 1.2em
  h4
    color $brown
    font-weight 700
    text-transform uppercase
    font-size .9em
    font-family $atlas
    text-align center

hr
  margin-top 100px

.data-text
  font-family $atlas
  h3
    font-size .7em
    margin-bottom 0
  p:empty
    margin 0
  p
    font-size .7em

.part1, .part1-probability, .part1-probability2, .part1a, .part1b, .part3-test, .part3-asian, .part3a, .widget, .widget2
  width 100%
  display flex
  flex-wrap wrap
  flex-direction row
  justify-content center
  margin 20px 0px
  .graphic, .graphic-all
    display flex
    flex-wrap wrap
    flex-direction row
    justify-content center

.part1a, .part1b, .part1-chinese
  .graphic
    display flex
    flex-wrap wrap
    flex-direction row
    justify-content center
    flex-basis 100%

.part2
  div
    vertical-align middle
    display flex
    flex-wrap wrap
    flex-direction row
    justify-content center
    align-items baseline
    align-self center

.full
  width 100%

.key
  width 100%
  font-weight 300
  padding-top 10px
  text-align center
  .square
    margin-left 15px
  .key1
    color #F5C162
  .key2
    color #fd8d3c
  .key3
    color #fc4e2a
  .key4
    color #bd0026
  .key5
    color #800026
  .key-single
    color $darkyellow
  .key-double
    color $lightred
  .key-triple
    color $darkred

.caption
  text-align right
  display block
  font-size 12px
  font-family $atlas
  color $brown
