.test-label
  font-size 12px
  font-family $atlas
  font-weight 700
  fill $darkred
  opacity .5

.test-label2
  font-size 12px
  font-family $atlas
  font-weight 700
  fill $darkyellow
  opacity .7

.tree-text
  font-weight 700
  font-family $atlas

.tree-axis
  path
    stroke-dasharray 3 3
    stroke grey 
